<div class="wrapper">
 <form class="p-3 mt-3" #userlogin="ngForm" (ngSubmit)="submit()">
  <label for="" class="text-dark fs-5 mb-1">Enter password</label>
   <div class="form-field d-flex align-items-center">
     <span>🔒</span>
     <input
       type="password"
       name="password"
       id="pwd"
       placeholder="Password"
       [(ngModel)]="userCred.password"
       minlength="6"
       #password="ngModel"
       required
     />
     <small [class.d-none]="password.valid" class="px-3 text-danger">χ</small>
     <small [class.d-none]="password.invalid" class="px-3 text-success"
       >✓</small
     >
   </div>
   <label for="" class="text-dark fs-5 mb-1">Confirm password</label>
   <div class="form-field d-flex align-items-center">
     <span>🔒</span>
     <input
       type="password"
       name="cpassword"
       id="cpwd"
       placeholder="Confirm Password"
       [(ngModel)]="userCred.cpassword"
       minlength="6"
       #cpassword="ngModel"
       required
     />
     <small [class.d-none]="cpassword.valid" class="px-3 text-danger">χ</small>
     <small [class.d-none]="cpassword.invalid" class="px-3 text-success"
       >✓</small
     >
   </div>
   <button class="btn mt-3" [disabled]="userlogin.form.invalid">SIGNUP</button>
 </form>
</div>
