<div class="wrapper">
 <form class="p-3 mt-3" #userlogin="ngForm" (ngSubmit)="submit()">
  <label for="" class="text-dark fs-5 mb-1">Enter your username</label>
   <div class="form-field d-flex align-items-center">
     <span>👤</span>
     <input
       type="text"
       name="username"
       id="username"
       pattern="^(?=[a-zA-Z0-9._]{5,20}$)(?!.*[_.]{2})[^_.].*[^_.]$"
       placeholder="Username"
       [(ngModel)]="userCred.username"
       #username="ngModel"
       required
     />
     <small [class.d-none]="username.valid" class="px-3 text-danger">χ</small>
     <small [class.d-none]="username.invalid" class="px-3 text-success"
       >✓</small
     >
   </div>
   <button class="btn mt-3" [disabled]="userlogin.form.invalid">SEND</button>
 </form>
 <div class="text-center">
  <a routerLink="../login" class="fs-4">←</a>
</div>
</div>
